[submodule "gateway"]
	path = gateway
	url = https://github.com/PiotrZielonka/infinityshopping-gateway.git
[submodule "store"]
	path = store
	url = https://github.com/PiotrZielonka/infinityshopping-microservice-store.git
