[submodule "gateway"]
	path = gateway
	url = https://github.com/PiotrZielonka/infinityshopping-consul-gateway.git
[submodule "store"]
	path = store
	url = https://github.com/PiotrZielonka/infinityshopping-microservice-consul-store.git
[submodule "notification"]
	path = notification
	url = https://github.com/PiotrZielonka/infinityshopping-microservice-consul-notification.git
